.mainContainer {
    margin-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titleContainer {
    width: 90%;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #0091FF;
    color: #fff;
}

.userImg {
    width: 100px;
    border-radius: 50px;
}

.settingsContainer {
    background-color: #efefef;
    overflow: hidden;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    list-style-type:none;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.logoutBut {
    border: none;
    width: 90%;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    color: #ff0033;
    font-size: 16px;
    font-weight: bold;

}

.setting {
    text-align: center;
    padding: 15px 10px;
    color:#000;
    margin: 0 3px;
}

.setting:hover {
    background-color: #c8c8c8;
}

.logoutBut:hover {
    background-color: #c8c8c8;
}

@media screen and (max-width: 650px) {
    .setting {
        text-align: left;
    }
  }