.mainContainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titleContainer {
    width: 90%;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #0091FF;
    color: #fff;
}
