
.searchBarContainer {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.searchInput {
    width: 100%;
    padding: 10px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: #eee;
}

.searchButton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 30px;
    border: none;
    background-color: grey;
}

.filterContainer {
    padding: 1px 20px;
}

.searchButton:hover {
    background-color: #bd9700;
    transition: 0.3s;
}

.searchButton:active {
    background-color: #bd9700;
    transition: 0.3s;
}

.catButton {
    padding: 2px 12px;
    background-color: #0091ff;
    color: #eee;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
}

.catButton:hover {
    background-color: #eee;
    color: black;
    transition: 0.3s;
}

.catButton:active {
    background-color: #eee;
    color: black;
    transition: 0.3s;
}