/* Header Container */
header {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
}

.headerContainer {
    background-color: #0091FF;
    color: #fff;
    font-weight: bold;
    height: 60px;
    padding: 10px 5px;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


/* Header Content */
.brandCointainer {
    display: flex;

}

.scheduleContainer {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.scheduleContainer:hover {
    color: #EDBD00;
    transition: 0.3s;
    cursor: pointer;
}

.scheduleIcon {
    font-size: 28px;
}

.scheduleText {
    font-size: 12px;
}

/* Schedule Modal */
.scheduleModalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closeModalButton {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0070c6;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
}

.closeModalButton:hover {
    background-color: #0181e3;
    color: #EDBD00;
    cursor: pointer;
    transition: 0.3s;
}

/* Scheduled Works */
.scheduledWork {
    height: 400px;
    overflow-y: scroll;
}