.headingContainerOnForm {
    background-image: linear-gradient(90deg, #348bee, #0c5bb5, #0f4889);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;

    font-weight: 400;
    font-size: 30px;
}

.formContainer {
    background-color: #f0f0f0;
    opacity: 0.9;
    border-radius: 10px;
    width: 24%;
    overflow: hidden;
    width: 100%;
}

.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.loginForm {
    width: 300px;
}

.loginFormForgot {
    float: left;
    margin-top: -30px;
    font-weight: bold;
    color: #EDBD00;
}

.loginFormForgot {
    float: right;
}

.loginFormButton {
    width: 100%;
    background-color: #fff;
    color: #000;
}

.registerNowButt {
    font-weight: bold;
    color: #EDBD00;
}

.loginFormButton:hover {
    color: #000 !important;
    transition: 0.2s;
}

.loginFormButton:active {
    color: #000 !important;
    transition: 0.2s;
}

@media screen and (max-width: 850px) {
    .formContainer {
        width: 100%;
    }    
}