.formContainer {
    background-color: #bfe2fd;
    color: #000;
    border-radius: 10px;
    width: 24%;
}

.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .loginForm {
    min-width: 200px;
} */

.loginFormForgot {
    float: left;
    margin-top: -30px;
    font-weight: bold;
}

.loginFormForgot {
    float: right;
}

.loginFormButton {
    width: 100%;
    background-color: #fff;
    color: #000;
}

.registerNowButt {
    font-weight: bold;
}

.loginFormButton:hover {
    color: #000 !important;
    transition: 0.2s;
}

.loginFormButton:active {
    color: #000 !important;
    transition: 0.2s;
}

@media screen and (max-width: 850px) {
    .formContainer {
        width: 90%;
    }    
}